#!/bin/bash
# description: init script to JManage.
export JRE_HOME=/usr/java/jdk1.{{ jdk_major_version }}.0_{{ jdk_minor_version }}/jre
export PATH=$PATH:$JRE_HOME/bin
export JAVA_HOME=/usr/java/jdk1.{{ jdk_major_version }}.0_{{ jdk_minor_version }}
export JAVA_PATH=$JAVA_HOME
export PATH=$PATH:$JAVA_HOME/bin

JMANAGEBIN="{{ jmanage_home }}/bin/jmanage"

start()
{
	$JMANAGEBIN start;
}
stop()
{
	$JMANAGEBIN stop
}
restart()
{
	$JMANAGEBIN restart
}
status()
{
	$JMANAGEBIN status
}

case "$1" in
  start)
	start
	;;
  stop)
	stop
	;;
  restart)
	restart
	;;
  status)
	status
	;;
  *)
	echo $"Usage: $0 {start|stop|restart|status}"
	;;
esac
exit 1
